body{
 font-family: Helvetica
}
.navcolour{
  background-color: whitesmoke;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: black;
}
::-webkit-scrollbar-thumb {
    background:#2980b9;
    border-radius: 5px;
}
.lower-section,
.upper-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(#2980b9, 0.5);
  position: relative;

} 
.upper-section {
  min-height: 20vh;
  width: 100%;
  background: #252529;
  color:#574AE2 ;
}
.lower-section{
  display: flex;
  justify-content: center;
  min-height: 20vh;
  width: 100%;
  background:  #C0B7B1;
  color:#574AE2 ;
  
}

}
.divider{
  margin: 10px;
}
.section-divider:before {
      display: flex;
      font-family: 'codepen';
      content: "CA"; 
      text-align: center;
      width: 6.5rem;
      height: 6.5rem;
      background: #2c3e50;
      color: white;
      border-radius: 100%;
      position: absolute;
      top: -3.25rem;
      left: calc(50% - 3.25rem);
      color: rgba(#2980b9, 0.5);
      line-height: 6rem;
      text-indent: 1.3rem;
      font-size: 3rem;
    }

.navbar{
    background-color: #252529;

}
.navbar-brand{ color: whitesmoke;}

 .navbar-nav{
     display: flex;
     align-content:flex-end;
     float: right;
 }
 
.jumboback{ 
background-image:linear-gradient(rgba(50,50,50, 0.3), rgba(50,50,50, 0.3)), url(./photos/Background.gif) ;
    
}
.jumbotron{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;

}

.bottomp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    
}

 .center{
    display: flex;
    justify-content: center
 }
 .About{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
      width: 100%;
      background-color: #7ca5b8 ;
  }
.media{
  display: flex;
  flex-wrap: wrap;
}
#timehead{
display: flex;
justify-content: center; 
}
.reverse {
    display: flex;
    flex-direction: row-reverse
}
/* Set a background color */
.timeline {
  background-color: whitesmoke;
  flex-wrap: wrap;
  font-family: Helvetica, sans-serif;
  width: 100%;
  position: relative;
  padding-top: 50px;
}

  
  /* Container around content */
  .container {
    padding: 10px 50px;
    position: relative;
    background-color: inherit;
    width: 100%;
   
  }
  
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #19529C;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent#19529C;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #19529C;
    border-width: 10px 10px 10px 0;
    border-color: transparent #19529C transparent transparent;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: #19529C;
    position: relative;
    border-radius: 6px;
    color: whitesmoke;
  }
  
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid #19529C;
      border-width: 10px 10px 10px 0;
      border-color: transparent #19529C transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  .challenges{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    
  }
  .card{
      display: flex;
      justify-content: center;
      background-color: #7ca5b8;
      width: 50px;
      align-items: center;
      margin: 10px;
  }
  .card-img-top{
      height: 100px;
      width: 100px;
  }

  footer{
      background-color: #38369a;
      text-align: center;
      color: white;
     
  }
