body{

    font-family: Helvetica
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: black;
}
::-webkit-scrollbar-thumb {
    background:#2980b9;
    border-radius: 5px;
}
.lower-section,
.upper-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(#2980b9, 0.5);

  span { font-size: 2.2rem; }
} 
.upper-section {
  min-height: 20vh;
  width: 100%;
  background: #252529;
  color:#574AE2 ;
}
.lower-section{
  min-height: 20vh;
  width: 100%;
  background:  #C0B7B1;
  color:#574AE2 ;
}
.section-divider {
  position: relative;
}
.section-divider:before {
      font-family: 'codepen';
      content: "CA"; 
      text-align: center;
      width: 6.5rem;
      height: 6.5rem;
      background: #2c3e50;
      color: white;
      border-radius: 100%;
      position: absolute;
      top: -3.25rem;
      left: calc(50% - 3.25rem);
      color: rgba(#2980b9, 0.5);
      line-height: 6rem;
      text-indent: 1.75rem;
      font-size: 3rem;
    }

.navbar{
    background-color: #252529;

}
.navbar-brand{ color: whitesmoke;}

 .navbar-nav{
     display: flex;
     align-content:flex-end;
     float: right;
 }
 
 .jumboback{ 
     background-image: url(./photos/Background.gif)
 }
 .jumbotron{
     height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-bottom: 0px;

 }

.bottomp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    
}

 .center{
    display: flex;
    justify-content: center
 }
 .About{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
      width: 100%;
      height: 150vh;
      background-color: #7ca5b8 ;

  }
  .reverse {
      display: flex;
      flex-direction: row-reverse
  }
  /* Set a background color */
  .timeline {

    background-color: whitesmoke;
    font-family: Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -2;
    padding-top: 50px;
  }

  
  /* Container around content */
  .container {
    padding: 10px 50px;
    position: relative;
    background-color: inherit;
    width: 100%;
   
  }
  
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #19529C;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent#19529C;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #19529C;
    border-width: 10px 10px 10px 0;
    border-color: transparent #19529C transparent transparent;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: #19529C;
    position: relative;
    border-radius: 6px;
    color: whitesmoke;
  }
  
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid #19529C;
      border-width: 10px 10px 10px 0;
      border-color: transparent #19529C transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  .challenges{
      width: 100%;
      height: 50vw;
    
  }
  footer{
      background-color: #38369a;
      text-align: center;

      color: white;
  }
